.bottom-mobile-container {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.bottom-heading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #eadeba;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-label {
  font-weight: 600;
  font-size: 16px;
  color: #BEBB98;
  margin-bottom: 5px;
}

.contact-link {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.contact-sub {
  font-size: 14px;
  color: #719e4c;
  margin-top: 2px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}

.social-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background 0.3s ease, color 0.3s ease;
}

.social-button.linkedin {
   background: linear-gradient(150deg , #EAE7CF 20%, #d5c180 100% );
  color: white;
}



.social-button.instagram {
 background: linear-gradient(150deg , #EAE7CF 20%, #d5c180 100% );
  color: white;
}


