.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background:transparent; /* Dark semi-transparent background */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 1000;

}

.logo {
  margin-top: 3%;
  cursor: pointer;
}

.logo-img {
  height: 150px;
  width: 105px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.03);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

button{
  background-color: rgba(255, 255, 255, 0);
  
  box-shadow: 10px 10px 10px (rgba(255, 255, 255, 0.492));

  margin-bottom: 10px;
  font-size: 15px;
border-top: #3493b9;
border-right: #a6af9d3a;
border-bottom: #000000;
border-radius: 6px;
border-color: rgba(0, 0, 0, 0.778);
border-width:3px;
 font-family: 'Montserrat';
 font-weight:550;
 

  
}

button:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  background-color: #0000009c;
border-width: 5px;
border-color: #c5b468;
color: white;

}

button[aria-haspopup="menu"] {
  background-color:transparent;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  color: #000000;
   border-radius: 6px;
  transform: scaleY(1.2); /* Increase to make letters taller */
  display: inline-block;  
  font-weight: 500;
  cursor: pointer;
 font-family: 'montserrat', sans-serif;
 font-weight: 600;
}



/* Target the dropdown menu container */
div[role="menu"] {
 background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(141, 112, 55, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  min-width: 160px;
min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center the items */
  justify-content: center;
  text-align: center;
}

/* Target each dropdown item */
div[role="menu"] > * {
  color: #3493b9;  /* Change text color */
  padding: 10px 16px;
  cursor: pointer;
  list-style-type: none; /* Remove bullet points */
  
}

/* Optional: Hover effect on items */
div[role="menu"] > *:hover {

  color: #2e4b0e;
}





/* Responsive */
@media (max-width: 768px) {
  .logo-img {
    height: 100px;
    width: 70px;
  }

  .dropbtn {
    font-size: 14px;
  }

  .dropdown-content a {
    font-size: 11px;
    justify-self: center;
   
  }
  
  .dropdown-content{
   min-width: 130px;
 min-height: 170px;
 
  }

button {
  font-size: 14px;
}


}
