.app{
  display: flex;
  flex-direction: column;
}
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

/* For any container that might overflow */
* {
  box-sizing: border-box;
}